html {
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    color: hotpink;
    font-size: 50px;
    margin: auto;
}

h1:hover {
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 0.2s;
}

@keyframes example {
    from {color: hotpink;}
    to {color: #806E28;}
}

#console {
    height: 400px;
    overflow: auto;
}

.username-msg {
    color: orange;
}

.connect-msg {
    color: green;
}

.disconnect-msg {
    color: red;
}

.send-msg {
    color: #888
}